/// ------------------------------------
/// Hover underline
/// ------------------------------------
@mixin underline($color: #0b132a, $position: 0, $height: 1px) {
  @include bp(xlarge) {
    a {
      position: relative;
    }

    a::after {
      content: "";
      background: none repeat scroll 0 0 $color;
      bottom: $position;
      display: block;
      height: $height;
      left: 50%;
      position: absolute;
      transition: width 200ms ease 0s, left 200ms ease 0s;
      width: 0;
    }

    a:hover::after {
      width: 100%;
      left: 0;
    }
  }
}
