/* ==========================================================================
    # BUTTON / COMPONENT
    ========================================================================== */

.u-btn {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  min-width: 178px;
  font-weight: $fw-7;
  text-decoration: inherit;
  border: 2px solid $border-green;
  color: $border-green;
  border-radius: 50px;
  background-color: transparent;
  transition: $transition;
}

.u-btn--fancy {
  position: relative;
  z-index: 10;
  min-width: 250px;
  padding: 17.5px;
  color: $text-black;
  background: $green;
  border: 0;
  border-radius: $border-radius;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  /* stylelint-disable */
  text-shadow: 0 0 4px #939393, 0 0 4px #939393, 0 0 4px #939393,
    0 0 4px #939393;

  &::after,
  &::before {
    position: absolute;
    content: "";
  }

  &::after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $green;
    z-index: -1;
    border-radius: 14px;
  }

  &::before {
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: -1;
    background: linear-gradient(white, black);
    border-radius: 16px;
  }

  @include bp(xlarge) {
    &:hover {
      box-shadow: 0 37px 21px -20px rgba(0, 0, 0, 0.2);
      background: $green;
      transform: translate(0, -10px);
      border-radius: 24px;
    }
  }
}
