/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.d-flex {
  display: flex;
}

.d-align-center {
  align-items: center;
}

.d-justify-center {
  justify-content: center;
}

.d-flex-dir-row {
  flex-direction: row;
}

.d-flex-col {
  flex-direction: column;
}

.d-flex-center {
  justify-content: center;
  align-items: center;
}

.d-flex-wrap {
  flex-wrap: wrap;
}
