/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

.wrapper-basic {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  @include bp(medium) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.wrapper-main {
  max-width: 1220px;

  @extend .wrapper-basic;
}
