// ==========================================================================
// # BILLBOARD / LAYOUT
// ==========================================================================

.billboard {
  margin-top: 22px;
  margin-bottom: 20px;

  @include bp(medium) {
    margin-bottom: 80px;
  }

  @include bp(xlarge) {
    margin-top: 42px;
    margin-bottom: 100px;
  }
}

.billboar__box {
  width: 100%;

  @include bp(xlarge) {
    width: 50%;
  }
}

.billboard__copy {
  margin-bottom: 30px;

  @include bp(medium) {
    margin-bottom: 50px;
  }

  @include bp(xlarge) {
    padding-right: 30px;
    margin-bottom: 0;
  }
}

.text-intro__copy {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-billboard {
  margin-bottom: 20px;
}

.text-intro {
  margin-bottom: 50px;
}

.billboar__svg {
  width: 100%;

  @include bp(xlarge) {
    width: auto;
  }
}

.billboard__icon--one {
  transition-delay: 300ms;
}

.billboard__icon--two {
  transition-delay: 500ms;
}

.billboard__icon--three {
  transition-delay: 600ms;
}

.billboard__icon--four {
  transition-delay: 800ms;
}

.billboard__icon {
  opacity: 0;
  transition-duration: 700ms;
  transition-timing-function: ease-in;

  &.billboard__icon--active {
    opacity: 1 !important;
  }
}
