// ==========================================================================
// # FOOTER / LAYOUT
// ==========================================================================

.u-footer {
  padding: 80px 0 40px;
  background-color: $background-gray;

  @include bp(medium) {
    padding: 188px 0 100px;
  }
}

/* Details
========================================================================== */
.u-footer__details {
  width: 100%;
  margin-bottom: 40px;

  @include bp(xlarge) {
    width: 46%;
    margin-bottom: 0;
  }
}

.u-footer__logo {
  margin-bottom: 26px;
  display: inline-block;
}

.u-footer__details__text {
  margin-bottom: 30px;
  font-weight: $fw-5;

  @include bp(xlarge) {
    max-width: 340px;
  }
}

.u-footer__social {
  list-style: none;
  margin-bottom: 30px;
}

.u-footer__social__li {
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

.u-footer__social__cta {
  height: 34px;
  width: 34px;
  display: inline-block;
  position: relative;

  @include bp(xlarge) {
    &:hover {
      &::after {
        box-shadow: $box-shadow;
      }
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: $background-green-2;
    z-index: $z-lvl-1;
    border-radius: 50%;
    transition: $transition;
  }
}

.u-footer__social__svg {
  height: 34px;
  width: 34px;
  position: relative;
  z-index: $z-lvl-2;
}

/* Product, Engage, Earn Money
========================================================================== */
.u-footer__engage,
.u-footer__products,
.u-footer__earn {
  width: 50%;
  margin-bottom: 30px;

  @include bp(medium) {
    width: 33.33%;
    margin-bottom: 0;
  }

  @include bp(xlarge) {
    width: 18%;
  }
}

.u-footer__title {
  font-weight: $fw-5;
  margin-bottom: 20px;
}

.u-footer__ul {
  list-style: none;
}

.u-footer__li {
  margin-bottom: 10px;

  @include underline();
}
