// ==========================================================================
// # INFO / LAYOUT
// ==========================================================================

.info {
  margin-bottom: 72px;

  @include bp(large) {
    margin-bottom: 92px;
  }
}

.info__inner {
  justify-content: space-between;
  border: 1px solid $border-black;
  border-radius: $border-radius;
  padding: 27px 50px;
  box-shadow: $box-shadow;

  @include bp(medium) {
    padding: 26px 40px;
  }

  @include bp(large) {
    padding: 37px 90px;
  }
}

.info__box {
  width: 100%;
  padding: 30px 0;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid $border-gray;

  @include bp(medium) {
    justify-content: center;
    width: 36%;
    border-bottom: 0;
    border-right: 2px solid $border-gray;
  }

  @include bp(large) {
    width: 46%;
  }

  &:first-of-type {
    width: 100%;

    @include bp(medium) {
      width: 32%;
      justify-content: flex-start;
    }

    @include bp(large) {
      width: 27%;
    }
  }

  &:last-of-type {
    width: 100%;
    border-bottom: 0;

    @include bp(medium) {
      width: 32%;
      justify-content: flex-end;
      border-right: 0;
    }

    @include bp(large) {
      width: 27%;
    }
  }
}

.info__img {
  background-color: $green-2;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin-right: 36px;

  @include bp(medium) {
    margin-right: 26px;
  }

  @include bp(xlarge) {
    margin-right: 36px;
  }
}

.info__number {
  font-weight: $fw-7;
}
