// ==========================================================================
// # U-CARD / LAYOUT
// ==========================================================================

.u-card {
  margin-bottom: 60px;

  @include bp(medium) {
    justify-content: center;
    margin-bottom: 80px;
  }

  @include bp(xlarge) {
    justify-content: flex-start;
    margin-bottom: 130px;
  }
}

.u-card__box {
  width: 100%;
  border: 2px solid $border-gray-2;
  border-radius: $border-radius;
  transition: $transition;
  margin-bottom: 30px;

  @include bp(medium) {
    max-width: 500px;
  }

  @include bp(xlarge) {
    max-width: unset;
    margin: 0 25px;
    width: calc(33.33% - 50px);

    &:hover {
      border-color: $border-green;
      transform: translateY(-4px);
      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);

      .u-btn {
        color: $text-black;
        background-color: $border-green;
      }
    }
  }
}

.u-card__inner {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px 40px;
  height: 100%;

  @include bp(medium) {
    padding: 80px 70px 50px;
  }
}

.u-card__image {
  margin-bottom: 30px;
}

.u-card__title {
  font-weight: $fw-5;
  margin-bottom: 30px;
}

.u-card__ul {
  list-style: none;
  margin-bottom: 50px;
}

.u-card__li {
  margin-bottom: 10px;
}

.u-card__svg {
  margin-right: 20px;
  width: 14px;
}

.u-card__price {
  font-weight: $fw-5;
  margin-bottom: 20px;
}

.u-card__details {
  color: $text-gray;
  font-weight: $fw-4;
}
