// ==========================================================================
// # U-TEXT / LAYOUT
// ==========================================================================

.u-text {
  max-width: 555px;
  margin: 0 auto 60px;
  text-align: center;
}

.u-text-section {
  margin-bottom: 20px;
}
