/* ==========================================================================
    # GLOBAL
    ========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.9375em; /* [1] */ /* 15px */
  color: $text-black;
  line-height: 1.33; /* [1] */
  min-height: 100%; /* [3] */
  overflow-y: scroll; /* [2] */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;

  @include bp(xlarge) {
    font-size: 1em; /* 16px */
  }
}

.vh {
  @include hidden-visually();
}

a {
  text-decoration: none;
  color: initial;
}
