/* ==========================================================================
   #HEADINGS
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fw-5;
}

.heading-billboard {
  /* 50px ~ 30px */
  font-size: 2rem;
  line-height: 1.4;

  @include bp(xlarge) {
    font-size: 3.125rem;
  }
}

.heading-section {
  /* 35px ~ 25px */
  font-size: 1.666rem;
  line-height: 1.4;

  @include bp(xlarge) {
    font-size: 2.1875rem;
  }
}

.heading-title {
  /* 25px ~ 20px */
  font-size: 1.3333rem;
  line-height: 1.2;

  @include bp(xlarge) {
    font-size: 1.5625rem;
  }
}

.text-info {
  /* 20px ~ 17px */
  font-size: 1.133rem;
  line-height: 1.5;

  @include bp(xlarge) {
    font-size: 1.25rem;
  }
}

.text-plan {
  /* 18px ~ 17px */
  font-size: 1.125rem;
  line-height: 1.875;
}

.text-intro {
  /* 15px ~ 14px */
  font-size: 1rem;
  line-height: 1.875;
}

.text-list {
  /* 14px ~ 13px */
  font-size: 0.875rem;
  line-height: 2.15;
}
