/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/* Text Colors
========================================================================== */
.color-gray {
  color: $text-gray;
}

.color-gray-2 {
  color: $text-gray-2;
}

/* Line Height
========================================================================== */
.line-md {
  line-height: 1.875;
}
