/* ==========================================================================
    # VARIABLES
    ========================================================================== */

$border-radius: 10px;
$transition: all 0.4s ease;
$transition-slow: all 0.8s ease;
$box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

/* Colors
========================================================================== */

// Colors shouldn't be used directly but reassigned
$green: #0f0;
$green-2: rgba(0, 255, 0, 0.09);
$green-3: #00e700;
$green-4: #60f060;
$black: #000;
$black-2: #0b132a;
$gray-1: #eeeff2;
$gray-2: #ddd;
$gray-3: #4f5665;
$gray-4: #f8f8f8;
$gray-5: #afb5c0;

// Text
$text-gray: $gray-3;
$text-gray-2: $gray-5;
$text-black: $black-2;

// Borders
$border-black: $black;
$border-green: $green-3;
$border-gray: $gray-1;
$border-gray-2: $gray-2;

// Background
$background-gray: $gray-4;
$background-green-2: $green-4;

/* Breakpoints
========================================================================== */
$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
);

/* Font Weights
========================================================================== */
$fw-4: 400;
$fw-5: 500;
$fw-7: 700;

/* Z Index
========================================================================== */
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;
